RewriteEngine On
RewriteBase /sword-framework/

# Dosya veya dizin olmayan istekleri index.php'ye yönlendir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]